@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #3b1e4d;
  --primary-light: #5c3370;
  --primary-dark: #240e32;

  --secondary: #ffc107;
  --secondary-light: #ffd54f;
  --secondary-dark: #e0a800;

  --muted: #f4f4f5;
  --border: #e4e4e7;
  --muted-foreground: #6b7280;

  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;
  --info: #3b82f6;

  --font-open-sans: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);

  --font-sans: var(--font-open-sans);
  --font-alt: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans); /* default font */
}

h1,
h2,
h3 {
  font-family: var(--font-roboto); /* use secondary font for headings */
}
